[package]
name = "tui-logger"
version = "0.3.1"
authors = ["Jochen Kiemes <jochen@kiemes.de>"]
edition = "2018"
license = "MIT"
description = "Logger with smart widget for the `tui` crate"
documentation = "https://docs.rs/tui-logger/0.2.0/tui_logger/"
repository = "https://github.com/gin66/tui-logger"
readme = "README.md"
keywords = ["tui", "log", "logger", "widget", "dispatcher"]

[badges]
travis-ci = { repository = "gin66/tui-logger" }

[dependencies]
log = "0.4"
chrono = "0.4"
tui = "0.4.0"
termion = "1.5"
lazy_static = "1.0"
fxhash = "0.2"
parking_lot = "0.6"
